<form name="omleidingsRoutesController.omleidingsRouteForm" ng-submit="omleidingsRoutesController.submitForm()" novalidate>
    <button ng-click="omleidingsRoutesController.addRoute()">Route toevoegen</button>
	<button ng-click="omleidingsRoutesController.addDRPT(omleidingsRoutesController.route.index)" ng-disabled="omleidingsRoutesController.route.index < 0" >Nieuw DRPT</button>
    <table>
		<colgroup>
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 5%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
		 </colgroup>
        <thead>
            <tr>
				<!-- select radio -->
                <th>&nbsp;</th>
                <th>VG pad</th>
                <th>+Tijd</th>
				<!-- volgnummer -->
                <th>&nbsp;</th>
                <th>Drpg</th>
                <th>Act</th>
                <th>Tijd</th>
                <th>Spoor</th>
                <th>Via</th>
				<!-- editing buttons -->
				<th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="mark-when-invalid" ng-repeat="omleidingsRoute in omleidingsRoutesController.goederenTreinRoutes">
            <tr ng-repeat="omleidActiviteit in omleidingsRoute.omleidactiviteiten">
                <td style="vertical-align:top" ng-if="$index===0" rowspan="{{omleidingsRoute.omleidactiviteiten.length}}">
                    <input ng-change="omleidingsRoutesController.routeSelected($parent.$parent.$index)"
						ng-model="omleidingsRoutesController.route.index"
						ng-value="$parent.$parent.$index"
						type="radio"
						id="radio_route_{{$parent.$parent.$index}}"
						name="omleidingsroute-radio">

                </td>
                <td style="vertical-align:top;" ng-if="$index===0" rowspan="{{omleidingsRoute.omleidactiviteiten.length}}">
					<input name="pad_{{$parent.$parent.$index}}{{$index}}" id="pad_{{$parent.$parent.$index}}{{$index}}" ng-model="omleidingsRoute.padindicator" type="checkbox">
                </td>
                <td style="vertical-align:top" ng-if="$index===0" rowspan="{{omleidingsRoute.omleidactiviteiten.length}}">
                    {{omleidingsRoute.extraRijtijd}}
                </td>
                <td>
                    {{omleidActiviteit.volgnummer}}
                </td>
                <td>
                    <input style="width: 50px" ng-model="omleidActiviteit.dienstregelpuntCode" type="text" required></input>
                </td>
                <td>
					<select name="act_{{$parent.$index}}{{$index}}" id="act_{{$parent.$index}}{{$index}}" ng-model="omleidActiviteit.activiteitSoort">
						<option value="A">A</option>
						<option value="V">V</option>
						<option value="D">D</option>
					  </select>
                </td>
                <td>
                    <input
						id="bupTijd_{{$parent.$index}}{{$index}}"
                        name="bupTijd_{{$parent.$index}}{{$index}}"
						style="width: 40px"
						ng-change="omleidingsRoutesController.checkBupTijd(omleidActiviteit.bupTijd, 'bupTijd_{{$parent.$index}}{{$index}}')"
						ng-model="omleidActiviteit.bupTijd"
						type="text"
						required></input>
                </td>
                <td>
                    <input
						id="spoor_{{$parent.$index}}{{$index}}"
                        name="spoor_{{$parent.$index}}{{$index}}"
						style="width: 40px"
						ng-change="omleidingsRoutesController.checkBupTijd(omleidActiviteit.spoor, 'spoor_{{$parent.$index}}{{$index}}')"
						ng-model="omleidActiviteit.spoor"
						type="text"></input>
                </td>
                <td>
					<input
					id="via_{{$parent.$index}}{{$index}}"
					name="via_{{$parent.$index}}{{$index}}"
					style="width: 80px"
					ng-change="omleidingsRoutesController.checkBupTijd(omleidActiviteit.via, 'via_{{$parent.$index}}{{$index}}')"
					ng-model="omleidActiviteit.via"
					type="text"></input>
                </td>
				<td>
					<span style="cursor: pointer;"
						id="up_{{$parent.$index}}{{$index}}"
						name="up_{{$parent.$index}}{{$index}}"
						ng-click="omleidingsRoutesController.moveUp($parent.$index, $index)">&#8679;</span>
					<span style="cursor: pointer;"
						id="down_{{$parent.$index}}{{$index}}"
						name="down_{{$parent.$index}}{{$index}}"
						ng-click="omleidingsRoutesController.moveDown($parent.$index, $index)">&#8681;</span>
					<span style="cursor: pointer;"
						id="up_{{$parent.$index}}{{$index}}"
						name="up_{{$parent.$index}}{{$index}}"
						ng-click="omleidingsRoutesController.deleteDRPG($parent.$index, $index)">&#10006;</span>
						<!-- &#9747; -->
                </td>

            </tr>
			<tr>
                <td>

                </td>
                <td >

                </td>
                <td >

                </td>
                <td>

                </td>
                <td>
					<span style="cursor: pointer;"
					ng-click="omleidingsRoutesController.test($index)">&#10010; Voeg Drgp toe</span>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
				<td>

                </td>

            </tr>
        </tbody>
    </table>
    <button type="submit"
	ng-click="omleidingsRoutesController.save()"
	ng-disabled="omleidingsRoutesController.omleidingsRouteForm.$invalid">Opslaan</button>
</form>
<button ng-click="omleidingsRoutesController.checkIt()">check</button>